
@{
    ViewBag.Title = "Client List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
<script type="text/javascript">
    var $_locationId = '@locationId';
    var $_userTypeId = '@userType';
    var $_HostPrefix = '@hostingPrefix';
</script>
    <script src="~/GridListing/JqGridScript/ClientList/ListClient.js"></script>
    <script type="text/javascript">
    $(window).bind('resize', function () {
        var width = $('#jqGrid_container').width();
        $('#tbl_ClientList').setGridWidth(width);
    });
    </script>
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="jqGrid_container">
        <table id="tbl_ClientList" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divClientListPager"></div>
    </div>
</div>
