
@{
    ViewBag.Title = "PDF Form View";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    long locationId = 0;
    long userType = 0;
    //string Image = "~/Content/Images/ProjectLogo/no-profile-pic.jpg";
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
    string Image = "~/Content/Images/ProjectLogo/no-profile-pic.jpg";
    string imgaeserverpath = Url.Content("~/Content/eFleetDocs/DriverImage/");
    string FileName = ViewBag.FileName;
}
@section scripts{
    <script type="text/javascript">
        var $_locationId = '@locationId';
        var $_userTypeId = '@userType';
        //var
    </script>
}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Charitable Contribution Request Form
            </div>
            <div class=" clearfix"></div>
            <div class="row">
                <div class="panel-body">
                    <div class="form-horizontal" style="padding-left: 10px;">
                        <iframe src="@Url.Action("GetPDF", "PDFData", new { FileName = FileName });" width="1300" height="800" id="iframepdf" name="iframename"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>