
@{
    ViewBag.Title = "Reconciliationsreports";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<style>
    .headerSize {
        height: 36px;
    }
</style>
<br />
<br />
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0 mb-0 mb-md-3 mb-sm-3 aos-init aos-animate" data-aos="fade-up">
            <div class="col-sm-12 col-xxl-4 col-lg-4 col-md-12 col-12">
                <div class="welcome-text">
                    <H4>Bank Reconciliations</H4>
                    <p>Bank Reconciliations dashboard</p>

                </div>
            </div>


        </div>

        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card aos-init aos-animate" data-aos="fade-up">
                    <div class="card-header headerSize">
                        <h4 class="card-title" style="color:white;"><strong>Bank Reconciliations</strong></h4>
                    </div>
                    <div class="card-body">
                        <div class="panel panel-defaultReport">
                            <div class="panel-headingReport row">
                                <div class="col-md-3" style="font-size: 1rem;">
                                    <span id="txtFromdate">MonthSelect Reconciliation Period </span>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="ddlVendorType" name="ddlVendorType">
                                                <option value="0">--Select Frequency--</option>
                                                <option value="1">Last Month</option>
                                                <option value="1">Current Month</option>
                                                <option value="1">Last Quarter   </option>
                                                <option value="1">Last Year</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4"></div>


                                        <div class="col-md-1">
                                            <input type="button" class="btn btn-secondary" value="Go" id="btnSearchByVendorId">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div class="row justify-content-center">

                                <div class="col-lg-6">

                                    <div class="pricing_table_content mt-5" style="background-color: #529F9D;color:white;">

                                        <div class="package" style="margin-top:-30px;">
                                            <i class=" " style="color:white;font-size:30px;"></i>&nbsp;&nbsp;&nbsp;<b>
                                                QuickBook's Total
                                                <br /> $ 4543

                                            </b>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="pricing_table_content mt-5" style="background-color: #3F8ADA;color:white;">

                                        <div class="package" style="margin-top:-30px;">
                                            <i class=" " style="color:white;font-size:30px;"></i>&nbsp;&nbsp;&nbsp;<b>
                                                eTrac Total
                                                <br /> $ 4543

                                            </b>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <br />
                            <div class="panel-headingReport row">

                                <div class="col-md-3">

                                </div>
                                <div class="col-md-6">
                                    <p style="font-size: 20px;">
                                        <b>Un_matched Transactions </b>
                                    </p>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <table id="UnVendorFacility_table" class="table" cellpadding="1" cellspacing="1" border="1" style="width:94%"><tr style="background-color:#0792bc;">
                                    <th>Transaction ID</th><th> Receiver Account </th><th>Payment Mode</th><th>Amoun</th></tr>
                                <tr><td>10026001</td><td>Product</td><td>hjghjghj</td><td>5</td><td>5</td></tr>
                                </table>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

