@model IEnumerable<WorkOrderEMS.Helper.EmailHelper>

@foreach (var item in Model)
{
    <div class="row notice info">
        <div class="col-sm-12">
            <p>WORK ORDER HAS BEEN CREATED </p>
        </div>
        <div class="col-sm-2">
            <img src="@item.EmployeeImage" style="height: 50px; width: 50px;border-radius: 50px" />

        </div>
        <div class="col-sm-5">
            @*@Html.DisplayFor(modelItem => item.CreatedBy)*@
            Work order has been created by @item.CreatedBy
        </div>
        <div class="col-sm-5">
            @if (item.IsWorkable == true)
            {

                <button class="btn btn-danger pull-right">Decline </button>
                <button class="btn btn-success pull-right">Approve </button>

            }
            else
            {
                <button class="btn btn-success pull-right" style="width:155px;">Acknowledgement </button>

            }
        </div>
        </div>
}

