@{


    var isRefresh = ViewBag.IsPageRefresh;
    if (isRefresh == true)
    {
        Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    }
    else
    {
        Layout = null;
    }

    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    long locationId = 0;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
    }
}
@*@section scripts{
    <script type="text/javascript">
            var $_hostingPrefix = '@hostingPrefix';
    </script>
    }*@
<style>

    #chartdiv, #EmployeeCount1 {
        width: 100%;
        height: 250px;
    }
</style>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/c3/css/c3.min.css" rel="stylesheet" />
<div id="preloader"></div>
<div class="content-body">
    <div class="container-fluid">
        <br />

        <div class="row">
            <div class="col-12">
                <div class="card" data-aos="fade-up">
                    <div class="card-header headerSize" id="addNewRule" style="height: 45px;">
                        <a href="javascript:void(0)"><span><i class="mdi mdi-plus" style="color:white;font-size:50px;"></i></span></a>
                        <div class="basic-form">
                            <div class="form-group" style="    margin-left: -200px;">
                                <input type="text" style="margin-top: 15px;" class="form-control input-rounded" placeholder="Invoice No">
                            </div>
                        </div>
                        <div class="basic-form" style="margin-right: 830px;">
                            <div class="form-group">
                                <select class="form-control input-rounded" style="margin-top: 15px;">
                                    <option selected>Invoice Criteria</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>

                                </select>
                            </div>
                        </div>
                        @*<div class="basic-form" style="margin-right: 830px;">
                                <div class="form-group">
                                    <select class="form-control input-rounded" style="margin-top: 15px;">
                                        <option selected>Invoice Type</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>

                                    </select>
                                </div>
                            </div>*@
                    </div>
                    <div class="card-body">
                        <div id="jsGrid-basic"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal bs-example-modal-lg fade preview" id="myModalForGetUnApprovedInvoicesrDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Invoice Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divVendorDetailPreview" class="">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Invoice No </label>
                                <div id="lblInvoiceNo" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Invoice Criteria </label>
                                <div id="lblInvoiceCriteriaName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Invoice Type </label>
                                <div id="lblInvoiceTypeName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Customer</label>
                                <div id="lblBusinessName" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Pupose OfBilling</label>
                                <div id="lblPuposeOfBillingName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Description</label>
                                <div id="lblDescription" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Amount</label>
                                <div id="lblAmount" class="form-control-static"></div>
                            </div>
                        </div>
                      
                         
                    </div>                  
                    
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bluebutton text-right" style="border-radius:25px;width:90px;" onclick="return AppproveInvoice();" id="btnApproveData">Approve</button>
                <button class="btn btn-danger" onclick="return RejectInvoice();" style="border-radius:25px;width:90px;" id="btnRejectPO">Reject</button>
                <button data-dismiss="modal" class="btn btn-secondary" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/NewAdminContent/VENDOR/jsgrid/js/jsgrid.min.js"></script>
@*<script src="~/Scripts/NewAdminJS/plugins-init/jsgrid-init.js"></script>*@
<script src="~/Content/NewAdminContent/VENDOR/d3/d3.min.js"></script>
<script src="~/Content/NewAdminContent/VENDOR/c3/js/c3.min.js"></script>
<script src="~/Scripts/NewAdminJS/plugins-init/c3-init.js"></script>
@*<script src="~/Content/NewAdminContent/VENDOR/morris/morris.min.js"></script>*@
<script src="~/Content/NewAdminContent/VENDOR/raphael/raphael.min.js"></script>
@*<script src="~/Scripts/NewAdminJS/plugins-init/morris-init.js"></script>*@
<script>


    (function ($) {
        //'use strict'

        //basic jsgrid table
        $.ajax({
            type: 'GET',
            url: '/GlobalSettings/GetListInvoiceJSGrid',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {

                //clients = data;
                //clients = data.rows;
                var act;
                $("#jsGrid-basic").jsGrid({
                    width: "100%",
                    height: "400px",
                    inserting: true,
                    editing: true,
                    filtering: true,
                    sorting: true,
                    paging: true,
                    rownum: 10,
                    deleteConfirm: "Do you really want to delete client?",
                    loadMessage: "Please, wait...",
                    //onDataLoading: function (args) {
                    //    var $_row = $("#grid").jsGrid("rowByItem", item);
                    //    // cancel loading data if 'name' is empty
                    //    if (args.filter.name === "") {
                    //        args.cancel = true;
                    //    }
                    //},
                    data: data,
                    //onRefreshingfunction(args) {
                    //},
                    onRefreshed: function (args) {
                        $(".jsgrid-insert-row").hide();
                        $(".jsgrid-grid-header").removeClass("jsgrid-header-scrollbar");
                        //    debugger
                        //    var items = args.grid.option("data");
                        //    var rows = args.grid.data;
                        //    for (var row = 0; row < rows.length; row++) {
                        //        debugger
                        //        act = '<div><button>edit</button></div>';

                        //        //$("#jsGrid-basic").jsGrid("insertItem", { Name: "John", Age: 25, Country: 2 }).done(function () {
                        //        //    console.log("insertion completed");
                        //        //});
                        //        $('#jsGrid').jsGrid('fieldOption', 'act', 'visible', 'true');
                        //    };
                    },
                    fields: [
                        //{ name: "Id", visible: false },
                        { name: "InvoiceNo", css: "text-center", validate: "required" },//visible: true
                        { name: "InvoiceCriteriaName", title: "Invoice Criteria",css: "text-center" },
                        { name: "InvoiceTypeName", title: "Invoice Type", css: "text-center" },
                        { name: "BusinessName", title: "Business Name", css: "text-center" },
                        { name: "IsApproved", title: "Approved", css: "text-center" },
                        { name: "IsRejected", title: "Rejected", css: "text-center" },

                        {
                            name: "act", items: act, title: "Action", css: "text-center", itemTemplate: function (value, item) {
                                //TO add icon edit and delete to perform update and delete operation
                                //var $iconPencil = $("<i>").attr({ class: "fa fa-pencil" }).attr({ style: "color:yellow;font-size: 22px;" });
                                var $iconPencil = $("<i>").attr({ class: "fa fa-list" }).attr({ style: "color:black;font-size: 22px;" });

                              //  var $iconTrash = $("<i>").attr({ class: "fa fa-trash" }).attr({ style: "color:red;font-size: 22px;" });
                                //var $iconChart = $("<i>").attr({ class: "fa fa-plus" }).attr({ style: "color:#149D48;font-size: 22px;" });
                                //var $iconDollar = $("<i>").attr({ class: "fa fa-usd" }).attr({ style: "color:#166C88;font-size: 22px;" });
                                //var $iconLocSetting = $("<i>").attr({ class: "fa fa-cog" }).attr({ style: "color:#818688;font-size: 22px;" });
                                //var $iconOffers = $("<i>").attr({ class: "fa fa-tag" }).attr({ style: "color:#da63c6;font-size: 22px;" });


                                var $customEditButton = $("<span style='padding: 0 5px 0 0;'>")
                                    .attr({ title: "View Details" })
                                    .attr({ id: "btn-edit-" + item.Id }).click(function (e) {

                                        ViewDetails(item);
                                        //var addNewUrl = "../GlobalAdmin/EditLocationSetup?loc=" + item.Id;
                                        //$('#RenderPageId').load(addNewUrl);
                                        //e.stopPropagation();
                                    }).append($iconPencil);


                                return $("<div>").attr({ class: "btn-toolbar" }).append($customEditButton);
                                //var $customDeleteButton = $("<span style='padding: 0 10px 0 0;'>")
                                //    .attr({ title: jsGrid.fields.control.prototype.deleteButtonTooltip })
                                //    .attr({ id: "btn-delete-" + item.Id }).click(function (e) {
                                //        $.ajax({
                                //            type: "POST",
                                //            url: "../GlobalAdmin/DeleteLocation?id=" + item.Id,
                                //            success: function (Data) {
                                //                //$("#jsGrid-basic").jsGrid("loadData");
                                //                var addNewUrl = "../GlobalAdmin/ListLocation";
                                //                $('#RenderPageId').load(addNewUrl);
                                //            },
                                //            error: function (err) {
                                //            }

                                //        });

                                //        e.stopPropagation();
                                //    }).append($iconTrash);

                                //var $customChartButton = $("<span style='padding: 0 10px 0 0;'>")
                                //    .attr({ title: jsGrid.fields.control.prototype.costCodeButtonTooltip })
                                //    .attr({ id: "btn-chart-" + item.Id }).click(function (e) {
                                //        window.location.href = '../GlobalAdmin/TreeView/?loc=' + item.Id;
                                //        e.stopPropagation();
                                //    }).append($iconChart);
                                //var $customDollarButton = $("<span style='padding: 0 10px 0 0;'>")
                                //    .attr({ title: jsGrid.fields.control.prototype.budgetButtonTooltip })
                                //    .attr({ id: "btn-dollar-" + item.Id }).click(function (e) {
                                //        window.location.href = '../GlobalAdmin/BudgetAllocation/?loc=' + item.Id;
                                //        e.stopPropagation();
                                //    }).append($iconDollar);
                                //var $customLocSettingButton = $("<span style='padding: 0 10px 0 0;'>")
                                //    .attr({ title: jsGrid.fields.control.prototype.editButtonTooltip })
                                //    .attr({ id: "btn-LocSetting-" + item.Id }).click(function (e) {

                                //        var addNewUrl = "../GlobalAdmin/EditLocationSetup?loc=" + item.Id;
                                //        $('#RenderPageId').load(addNewUrl);
                                //        e.stopPropagation();
                                //    }).append($iconLocSetting);
                                //var $customiconOffersButton = $("<span style='padding: 0 10px 0 0;'>")
                                //    .attr({ title: jsGrid.fields.control.prototype.editButtonTooltip })
                                //    .attr({ id: "btn-LocSetting-" + item.Id }).click(function (e) {

                                //        var addNewUrl = "../GlobalAdmin/EditLocationSetup?loc=" + item.Id;
                                //        $('#RenderPageId').load(addNewUrl);
                                //        e.stopPropagation();
                                //    }).append($iconOffers);
                               // return $("<div>").attr({ class: "btn-toolbar" }).append($customEditButton);
                                    //.append($customChartButton).append($customDollarButton).append($customLocSettingButton).append($customiconOffersButton);

                                //var ed = "<a href='javascript:void(0)' class='EditRecord' Id='" + item.Id + "' style='margin-right: 10px;cursor:pointer;'><span class='mdi mdi-pencil fa-1x' style='color:yellow;'></span></a>";
                                //var de = "<a href='javascript:void(0)' class='DeleteRecord' Id='" + item.Id + "' style='margin-right: 10px;cursor:pointer;'><span class='mdi mdi-delete fa-1x' style='color:black;'></span></a>";
                                //var vi = "<a href='javascript:void(0)' class='ViewRecord' Id='" + item.Id + "' style='margin-right: 10px;cursor:pointer;'><span class='mdi mdi-eye fa-1x' style='color:black'></span></a>";
                                ////return $("<span>").attr("class", ed);
                                //var alldiv = "<span>" + ed + "</span>" + "<span>" + de + "</span>" + "<span>" + vi + "</span>";
                                //return $("<div>").html(alldiv);
                            }
                        },
                        //{ type: "control" }
                    ],

                    //On row click show location details
                    //rowClick: function (args) {

                    //    console.log(args)
                    //    var getData = args.item;
                    //    var keys = Object.keys(getData);
                    //    var text = [];
                    //    var url = "../NewAdmin/DisplayLocationData/?LocationId=" + getData.LocationId;
                    //    $('#RenderPageId').load(url);
                    //    //window.location.href = "../NewAdmin/DisplayLocationData/?LocationId=" + getData.LocationId;
                    //    //$.each(keys, function (idx, value) {
                    //    //    text.push(value + " : " + getData[value])
                    //    //});

                    //    //$("#label").text(text.join(", "))
                    //}
                });
            },
            error: function (err, e, er) {
            }

        });

    })(jQuery);
    $(document).ready(function () {
        @*var isRefresh = '@ViewBag.IsPageRefresh';
        if (isRefresh == "True")
        {
            var addNewUrl = "../GlobalAdmin/ListLocation";
            $('#RenderPageId').load(addNewUrl);
        }*@
        var hitCount = 1;
        $(".jsgrid-mode-button").hide();
        $(".jsgrid-insert-row").hide();
        $(".jsgrid-grid-header").removeClass("jsgrid-header-scrollbar");
        $("#addNewRule a").click(function (event) {
            if (hitCount == 1) {
                hitCount++;
                $(".jsgrid-insert-row").hide();
                event.preventDefault();
                $("#preloader").html('<div class="loader">eTrac<span></span><span></span><span></span><span></span></div>');
                var addNewUrl = "../GlobalSettings/NewInvoice/0";
                $('#RenderPageId').load(addNewUrl);
                //window.location.href = "../NewAdmin/AddNewLocation";
            }
        });



    });


    function RejectInvoice() {
        alert($("#lblInvoiceNo").html());
        $("#myModalForGetUnApprovedInvoicesrDetails").modal('show');
        callAjaxVendor(2);
    }
    function AppproveInvoice() {
        alert($("#lblInvoiceNo").html());
        // $("#CommentVendor").val("");
        $("#btnApproveData").addClass("disabled");
        callAjaxVendor(1);
    }

    function callAjaxVendor(TYP) {

        alert($("#lblInvoiceNo").html());

        $.ajax({
            url: '../GlobalSettings/InvoicesApproveReject/'+$("#lblInvoiceNo").html()+'?AppRejType=' + TYP,
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            // data: JSON.stringify({ objVendorApproveRejectModel: objData }),
            beforeSend: function () {
                new fn_showMaskloader('Please wait...');
            },
            success: function (result) {
                toastr.success(result);
                $("#myModalForGetUnApprovedInvoicesrDetails").modal('hide');
                //$("#myModelApproveRejectVendor").modal('hide');
                // $("#btnApproveData").removeClass("disabled");
                // $("#jsGrid-basic").jsGrid("loadData");
                  var addNewUrl = "@Url.Action("InvoicetList", "GlobalSettings")";
                            $('#RenderPageId').load(addNewUrl);
                fn_hideMaskloader();
            },
            error: function () { toastr.error(result); },
            complete: function () {
                fn_hideMaskloader();
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#main-wrapper').removeClass("menu-toggle");
        $(".hamburger").show();
        $("ul li a").click(function (e) {
            e.preventDefault(); // prevent default link button redirect behaviour
            var url = $(this).attr("href");
            $('#RenderPageId').load(url);
        });




        $(".jsgrid-edit-button").click(function (event) {
            debugger
            this;
            $(".jsgrid-insert-row").hide();
            event.preventDefault();
            var addNewUrl = "../GlobalSettings/NewInvoice/0";
            $('#RenderPageId').load(addNewUrl);
        });
    });



    function ViewDetails(item) {

        Id = item.Id;

        $.ajax({
            type: "POST",
            url:"../GlobalSettings/GetInvoice?id=" + item.Id,
            datatype: 'json',
            success: function (result) {

                $("#lblInvoiceNo").html(result.InvoiceNo);
                $("#lblInvoiceTypeName").html(result.InvoiceTypeName);
                $("#lblInvoiceCriteriaName").html(result.InvoiceCriteriaName);
                $("#lblBusinessName").html(result.BusinessName);
                $("#lblPuposeOfBillingName").html(result.PuposeOfBillingName);
                $("#lblDescription").html(result.Description);
                $("#lblAmount").html(result.Amount);
               


                $('.modal-title').text("Invoice All Details");
                $("#myModalForGetUnApprovedInvoicesrDetails").modal('show');
            }
        });
        // $("#lblPOStatus").html(POStatus);

    }


</script>
