@model WorkOrderEMS.Models.NewAdminModel.TCAPIP.TerminationModel

@{
    Layout = null;
}

<div class="container" style="padding: 0 10% 0 10%; margin-top:5%">
    <div class="row" style="margin-top:5%;">
        <div class="col-md-3 col-sm-3">
            <label for="Date">(Date)</label>
        </div>
    </div>

    <div class="row" style="margin-top:5%;">
        <div class="col-md-3 col-sm-3">
            <span><u>PERSONAL AND CONFIDENTIAL</u></span>
        </div>
    </div>

    <div class="row" style="margin-top:5%;">
        <div class="col-md-3 col-sm-3">
            <label for="fullname">@Model.Emp_Name</label>
        </div>
    </div>

    <div class="row" style="margin-top:5%;">
        <div class="col-md-3 col-sm-3">
            <label for="fullname">Dear @Model.Emp_Name</label>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                This letter outlines the terms regarding the termination of your employment with Elite Parking Services of
                America Inc. (Elite Parking).
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>1.   <u> Change in Status of Employement.</u></span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (a)  Effective at a close of business on @Model.Last_Day_Worked you are relieved of all responsibilities
                associated with active employement at Elite Parking. In addition, subject to the provisions of section 3(a) below,
                effective at a close of business on @Model.Termination_Date your employment with Elite Parking will
                terminate.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (b)  You further agree that you will not make any statement or take any action which disparages or might
                harm the reputation of Elite Parking or any of its subsidiaries, affiliates, officers, directors or employees.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (c) You are to immediately deliver to human resources all Elite Parking property in your possession,
                including but not limited to any keys, access cards, IDs, phones, computers, etc.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                2. <u>Payments on Termination Date.</u> It is understood that all PTO accruals were on a use it or lose it policy,
                therefore you will not be paid for any unused PTO or Sick time.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                3. <u>Payments and Benefits Following Termination Date.</u>
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (a) Employee shall receive separation pay equal to (Amount of time example Two weeks) of Employee’s
                base salary in effect on the Separation Date, less all applicable withholdings, and shall be paid pursuant to the
                Company’s regular biweekly payroll dates in installments of ($Insert) amount less all applicable
                withholdings, commencing with the first payroll date following the date you sign this Agreement, and
                continuing until the (two weeks) of base salary is fully paid (“the Severance Period”). The total gross amount
                of (two weeks) of separation pay shall be ($Amount) less applicable withholdings.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (b) During the severance agreement period the Employee is required to answer any telephone calls or
                emails from the Employer for any information the Employer may request of the Employee; this is required in
                order to maintain the severance payments.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (c) Employee may elect to continue health insurance coverage under the Company health plan, in
                accordance with the health care continuation provisions of COBRA. Insurance will discontinue on (Insert
                Date.) Effective (Insert Date) Employee may elect COBRA benefits.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                4. <u>Waiver of Employment Discrimination Claims and other Legal Rights.</u>
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                (a) As a material inducement to enter into this Agreement, you hereby irrevocably and unconditionally
                release, acquit and forever discharge Elite Parking and each of its owners, stockholders, predecessors,
                successors, assigns, agents, directors, officers, employees, representatives, attorneys, parent companies,
                divisions, subsidiaries, affiliates and all person acting by, through, under or in concern with them (collectively
                “Releasees”), from any and all charges, complaints, claims, liabilities, obligations, promises, agreements,
                controversies, damages, actions, causes of action, suits, rights, demands, costs, debts, and expenses of any nature
                whatsoever, known or unknown, suspected or unsuspected, including, but not limited to, rights arising out of
                alleged violations or breaches of any contracts, express or implied, or any tort, or any legal restrictions on Elite
                Parking’s right to terminate employees, or any federal, state or other governmental statute, regulation, or
                ordinance, including without limitation (1) Title VII of the Civil Rights Act of 1964, as amended by the Civil
                Rights Act of 1991, (race, color, religion, sex, and national origin discrimination); (2) the Americans with
                Disabilities Act (disability discrimination); (3) 42 U.S.C. § 1981 (discrimination); (4) the federal Age
                Discrimination in Employment Act (age discrimination); (5) the Older Workers Benefit Protection Act; (6) the
                Equal Pay Act; and (7) the Employee Retirement Income Security Act (“ERISA”), which you now have, own or
                hold, or claim to have, own or hold, or which you at any time heretofore had owned or held, or claimed to have
                owned or held, against each or any of the Releasees at any time up to and including the date of this Agreement.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                5. <u>Confidential Information.</u>  You agree that you will <b>keep strictly confidential</b> and will not use or
                disclose, directly or indirectly, to anyone except your immediate family, your attorney and tax adviser (i) the
                circumstances and occurrences leading to this agreement, (ii) the terms and conditions of this agreement, and
                (iii) any proprietary, confidential or trade secret document or information of Elite Parking, or of its subsidiaries,
                affiliates, officers, directors or associates, that you have or have had in your possession or of which you are/were
                aware, relating to your employment with Elite Parking or to the business and operations of Elite Parking,
                including such information about Elite Parking’s customers. The restrictions in this section shall not apply to
                any information that is compelled to be disclosed pursuant to a lawful subpoena or a court of law, that is in the
                public domain through lawful means or that loses its character as confidential, trade secret or proprietary
                information. You further agree that you will not make any statement nor take any action, either directly or
                indirectly, which might adversely reflect upon Elite Parking or its subsidiaries and affiliates, or upon any current
                or former officers, directors or associates of Elite Parking or its subsidiaries and affiliates.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                6. <u>Remedies for Breach.</u> You acknowledge and agree that in the event of a breach by you of the
                confidentiality provisions hereof, Elite Parking may, in addition to any other rights and remedies it may have at
                law or in equity, withhold any amounts or benefits otherwise payable or due hereunder.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                7. <u>Acknowledgment of Understanding and Voluntariness.</u> You acknowledge that you understand
                completely everything set forth in this Agreement, that you have had ample opportunity to review this
                Agreement and all its ramifications with an attorney of your own choosing, that you have entered into this
                agreement voluntarily, without any coercion whatsoever, of your own free will, and that you intend legally to
                be bound by this Agreement.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                8. <u>Entire Agreement.</u> This Agreement constitutes the entire agreement between Elite Parking and you with
                respect to the subject matter hereof, and may not be construed as an admission of liability, wrongdoing, or
                discrimination by Elite Parking, or any of its subsidiaries, affiliates, officers, directors, associates or agents.
            </span>
        </div>
    </div>


    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                9. <u>Severability.</u> If any provision hereof shall be determined to be unenforceable, such fact shall not
                invalidate or render unenforceable any other provision hereof.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                10. <u>Binding Effect.</u> This Agreement shall be binding upon and inure to the benefit of the parties hereto and
                their respective heirs, personal representatives, successors and assigns, as the case may be.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                11. Governing Law. This Agreement shall be deemed to have been made in the state of Florida and shall be
                interpreted, construed, and enforced in accordance with the laws of the state of Florida.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-12 col-sm-12">
            <span>
                If the foregoing is acceptable to you, please sign in the space indicated below and return this Agreement to me.
            </span>
        </div>
    </div>

    <div class="row" style="margin-top:2%;">
        <div class="col-md-3 col-sm-3">
            <span>
                Sincerely,
            </span>
        </div>
        <div class="col-md-9 col-sm-9">
        </div>
    </div>

    <div class="row" style="margin-top:5%;">
        <div class="col-md-3 col-sm-3">
            <span>Dane Grey</span><br>
            <span>President/CEO</span>
        </div>
        <div class="col-md-9 col-sm-9">

        </div>
    </div>

    <div class="row" style="margin-top:4%;">
        <div class="col-md-3 col-sm-3">
            <span>Accepted and agreed to:</span>
        </div>
        <div class="col-md-9 col-sm-9">

        </div>
    </div>

    <div class="row" style="margin-top:4%; margin-bottom:10%;">
        <div class="col-md-4 col-sm-4">
            <span>By:</span>
            <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black;">
        </div>
        <div class="col-md-4 col-sm-4">

        </div>

        <div class="col-md-4 col-sm-4">
            <span>Date:</span>
            <input type="text" name="" value="" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid black;">
        </div>
    </div>



</div>
