@model WorkOrderEMS.Models.VendorSetupManagementModel
@{
    ViewBag.Title = "FileImport";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<style>
      label .req {
        margin: 2px;
        color: #ed2f35;
    }

</style>
<br />
<br />
    <div class="content-body">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card aos-init aos-animate" data-aos="fade-up">
                        <div class="card-header headerSize">
                            <h4 class="card-title" style="color:white;"><strong>File Import</strong></h4>
                            <br />
                        </div>
                        <div class="card-body"> 
                                <br /> 
                                    <div class="panel panel-primary setup-content">
                                        <div class="basic-form">

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label" for="">Import File<span class="req">*</span></label>
                                                <div class="col-sm-4"> 
                                                    <input id="fileuploadCompany" type="file" style="margin-left:50%;" name="CompanyDocumentsFile" />
                                                    @*<ul class="attachment">
                                                        @if (Model.CompanyDocuments != null && Model.CompanyDocuments != "")
                                                        {
                                                            <li style="margin-left :25%;margin-top:20px;">
                                                                <a class="title" href="@Url.Content(Model.CompanyDocuments)">@ViewBag.CompanyDocEdit</a>
                                                            </li>
                                                        }
                                                    </ul>*@
                                                    <div class="errorspace">
                                                        @Html.ValidationMessageFor(model => model.CompanyDocuments)
                                                    </div>

                                                </div>
                                               
                                            </div>

                                           


                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <button type="submit" id="btnsubmit" class="btn btn-success pull-right marginright10 marginbottom10 Lmar10" style="border-radius:25px;width:150px;">Submit </button>
                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(function () {
           $("#fileuploadCompany").change(function () {
            $("#dvCompanyPreview").html("");
            var allowedExtensions = /(\.pdf|\.doc|\.docx|\.txt)$/i;
               if (!allowedExtensions.exec($(this).val().toLowerCase())) {
                   alert("Invalid file type");
                   $(this).val("");
                   return false;
               }
               
        })
            
    });

    $("#btnsubmit").click(function () {
                    var ImageFile;
                    file_data = $("#fileuploadCompany").prop("files")[0]; // Getting the properties of file from file field
                    form_data = new FormData(); // Creating object of FormData class
                    form_data.append("file", file_data) // Appending parameter named file with properties of file_field to form_data
                    form_data.append("CallID", 11) // Adding extra parameters to form_data
                    if (file_data != undefined) {
                        $.ajax({
                            url: '@Url.Action("FileImport", "VendorManagement")',
                            dataType: 'script',
                            cache: false,
                            contentType: false,
                            processData: false,
                            async: false,
                            beforeSend: function () {
                                new fn_showMaskloader('Please wait...');
                            },
                            data: form_data, // Setting the data attribute of ajax with file_data
                            type: 'post',
                            success: function (data) {

                                fn_hideMaskloader();
                                toastr.success("File import successfully");
                                $("#fileuploadCompany").val("");

                            },
                            error: function (e) { alert("error:" + e); },
                            complete: function () {
                                fn_hideMaskloader();

                            }
                        });
                    }
                    if (ImageFile == null || ImageFile == "") {
                    } else {
                        _ProductListModel.ProfileImageFile = JSON.parse(ImageFile);
                    }
    })

</script>
