/*Employee Management*/
.butttonActiveEmployee.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
.butttonActiveEmployee:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}
.butttonActiveEmployee::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 61%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}
.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
/*End Employee Management*/

/* Hiring On Boarding*/
.butttonActiveEmployee.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}

.butttonActiveEmployee:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}

.butttonActiveEmployee::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 50%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}

.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
/*End Employee Management*/
.butttonActive::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 18%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}
.butttonActive::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 18%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}

.butttonActive:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}


@-webkit-keyframes glow {
    0% {
        background: #3d78d1;
    }

    25% {
        background: #3d78d1;
    }

    100% {
        background: #3d78d1;
    }
}

@keyframes glow {
    0% {
        background: #3d78d1;
    }

    25% {
        background: #3d78d1;
    }

    100% {
        background: #3d78d1;
    }
}




.onoffswitch2 {
    -moz-user-select: none;
    float: right;
    margin-right: 30px;
    position: relative;
    width: 200px;
}

.onoffswitch2-checkbox {
    display: none;
}

.onoffswitch2-label {
    border: 1px solid #0aaebd;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.onoffswitch2-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch2-inner:before, .onoffswitch2-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: normal;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch2-inner:before {
        content: "View List";
        padding-left: 10px;
        background-color: #32DA4E;
        color: #FFFFFF;
    }

    .onoffswitch2-inner:after {
        content: "Create";
        padding-right: 10px;
        background-color: #84CFE6;
        color: #000;
        text-align: right;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

.onoffswitch2-switch {
    display: block;
    width: 14px;
    height: 31px;
    margin: 0px;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 185px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px;
}