/*Employee Management*/
.butttonActiveEmployee.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
.butttonActiveEmployee:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}
.butttonActiveEmployee::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 61%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}
.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
/*End Employee Management*/

/* Hiring On Boarding*/
.butttonActiveEmployee.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}

.butttonActiveEmployee:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}

.butttonActiveEmployee::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 50%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}

.butttonActive:hover {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
}
/*End Employee Management*/
.butttonActive::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 18%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}
.butttonActive::before {
    -webkit-animation: glow 1s ease-in infinite;
    animation: glow 1s ease-in infinite;
    background: #3d78d1;
    border-radius: inherit;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 18%;
    height: 40px;
    top: 0;
    right: 0;
    z-index: -1;
}

.butttonActive:hover::before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 1;
}


@-webkit-keyframes glow {
    0% {
        background: #3d78d1;
    }

    25% {
        background: #3d78d1;
    }

    100% {
        background: #3d78d1;
    }
}

@keyframes glow {
    0% {
        background: #3d78d1;
    }

    25% {
        background: #3d78d1;
    }

    100% {
        background: #3d78d1;
    }
}




.onoffswitch2 {
    -moz-user-select: none;
    float: right;
    margin-right: 30px;
    position: relative;
    width: 200px;
}

.onoffswitch2-checkbox {
    display: none;
}

.onoffswitch2-label {
    border: 1px solid #0aaebd;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.onoffswitch2-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch2-inner:before, .onoffswitch2-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: normal;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch2-inner:before {
        content: "View List";
        padding-left: 10px;
        background-color: #32DA4E;
        color: #FFFFFF;
    }

    .onoffswitch2-inner:after {
        content: "Create";
        padding-right: 10px;
        background-color: #84CFE6;
        color: #000;
        text-align: right;
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

.onoffswitch2-switch {
    display: block;
    width: 14px;
    height: 31px;
    margin: 0px;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 185px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
    margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
    right: 0px;
}
/*Performance Management*/
div#UrgentWorkOrdersList p, div#eScanNotification p {
    margin: 0;
}

div#UrgentWorkOrdersList .notice, div#eScanNotification .notice {
    position: relative;
    margin: 1em;
    background: #F9F9F9;
    padding: 1em 1em 1em 2em;
    border-left: 5px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

    div#UrgentWorkOrdersList .notice:before, div#eScanNotification .notice:before {
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: -17px;
        background-color: #DDD;
        color: #FFF;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        font-family: Georgia;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }

div#UrgentWorkOrdersList .info, div#eScanNotification .info {
    border-color: #0074D9;
}

    div#UrgentWorkOrdersList .info:before, div#eScanNotification .info:before {
        content: "n";
        background-color: #0074D9;
    }
div#UrgentWorkOrdersList .btn-success, div#profileArea .btn-success, div#eScanNotification .btn-success {
    color: #fff;
    background-color: #1DC9B7;
    border-color: #1DC9B7;
}
.row.page-titles.mx-0.mb-0.mb-md-3.mb-sm-3.aos-init.aos-animate {
    padding: 0;
    margin-bottom: 0 !important;
}
.col-sm-12.col-xs-12.col-md-12.glowbuttonActiveDeactive {
    height: 33px;
    text-align: center;
    font-size: 24px;
    display: block;
    color: black;
    background-color: #FFFF01;
    border-color: #5D78FF;
}
.performanceDashboard .card.aos-init.aos-animate {
    margin-bottom: 0;
}
.performanceDashboard a.nav-link {
    text-align: center;
    width: 200px;
}
#profileArea table {
    color: black;
}
button#draft,button#submit {
    width: 200px;
}
    