.header-right {
    height: 100%;

    .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>li {
        &:not(:first-child) {
            padding-left: 0.625rem;
        }    
    }

    .notification_dropdown {
        @include respond('phone-land') {
            position: static;
        }

        .nav-link {
            position: relative;
            i{
                font-size: 18px;
            }

            .badge {
                position: absolute;
                font-size: 0.625rem;
                border-radius: 50%;
                right: 0;
                top: 0;
                font-weight: normal;
                height: 17px;
                width: 17px;
                line-height: 6px;
                text-align: center;
                padding: 5px;
            }
        }

        .dropdown-item {
            &:focus, 
            &:active {
                a {
                    color: $white;
                }
            }

            a {
                color: $dark;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .dropdown-menu {
        border-color: $border;
        box-shadow: 0px 0px 10px rgba(120, 130, 140, 0.13);
    }

    .header-profile {
        .dropdown-menu{
            padding: 0px;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        .dropdown-toggle{
            i{
                font-size: 1.25rem;
            }
            span{
                @include respond('phone'){
                    display: none;
                }
            }
        }
        .profile_title{
            background: $primary;
            color: $white;
            padding: 10px 20px;
            h5{
                color: $white;
                margin-bottom:3px;
            }
        }
        // .dropdown-toggle::after{
        //     display: none;
        // }

        .dropdown-item{
            padding: 5px 24px;
        }

    }
}

.notification_dropdown {
    .dropdown-menu-right{
        min-width: 275px;
        padding: 0rem 0 1rem;
        .notification_title{
            background: $primary;
            color: $white;
            padding: 10px 20px;
            h5{
                color: $white;
                margin-bottom:3px;
            }
        }
        .media {
            border-bottom: 1px solid $border;
            padding: 20px 25px;
            // &:last-child{
            //     border-bottom: 0px;
            // }
            img{
                width: 35px;
                border-radius: 50px;
            }
            h5{
                margin-bottom: 0;
                font-size: 14px;
            }
        }
        .all-notification {
            display: block;
            padding: 15px 30px 0;
            color: $dark;
        }
    }
}

.header-quick-link{
    min-width: 250px!important;
    margin: 0px!important;
    padding: 10px!important;
    a{
        display: block;
        background: #f7f8fa;
        margin: 10px;
        padding: 10px;
        border-radius: 3px;
        // transition: all 0.3s ease-in-out;
        i{
            font-size: 24px;
            color: $primary;
        }
        &:hover{
            background: $primary;
            color: $white;
            i{
                color: $white;
            }
        }
    }
}




