
<div class="card" data-aos="fade-up" id="gridArea">
    <div class="card-header" style="height: 45px; display:none">
        <h4 class="card-title addWhite"><b>Performance Management</b></h4>
    </div>
    <div class="card-body">
        <div class="custom-tab-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#th306090">30-60-90</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Expectations">Q-Expectations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Evaluations">Q-Evaluations</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="th306090" role="tabpanel">
                    <div id="List306090"></div>
                </div>
                <div class="tab-pane fade" id="Expectations">
                    Expectations
                </div>
                <div class="tab-pane fade" id="Evaluations">
                    Evaluations
                </div>

            </div>

        </div>
    </div>
</div>
<div id="profileArea" style="display:none;" class="card aos-init aos-animate">


</div>