@{
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;

    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    long locationId = 0;
    long UserId = 0;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
        UserId = ObjLogin.UserId;
    }
}
@*@section scripts{
        <script type="text/javascript">
        var $_hostingPrefix = '@hostingPrefix';
        var $_LocationId = '@locationId';
        var $_UserID = '@UserId';
        </script>
    }*@
@{
    <div class="col-sm-12">
        This is user assessment section
        <div class="col-sm-12">

        </div>
        <button id="back">Back</button>
        @*@Html.ActionLink("Back","PerformanceManagement","NewAdmin")*@
    </div>
}
<script src="~/GridListing/JsGridScript/List306090.js"></script>

<script>
    $(document).ready(function () {
        
    });
</script>
<!--**********************************
           Content body start


       ***********************************-->
