<style>
    .row.tableEval td {
    height: 60px;
}
</style>  

  <i id="back" class="fa fa-arrow-circle-o-left x4" style="
    font-size: 36px;
    cursor:pointer;
    margin-left: 10px;
    margin-top: 5px;
    width: 64px;
    float: none;
    /* align-self: flex-end; */
    " title="back"></i>
    <div class="row">
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;">
                <img src="http://localhost:57572/Content/Images/ProfilePic/7_636530235980373604.png" alt="" class="rounded-circle" style="width:50px;height:50px;">
            </div>
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;    font-weight: 600;">Mayur Sahu</span>
                <span style="display: list-item;">Accountant</span>
            </div>
        </div>
        <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;    font-weight: 600;">Finance</span>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;    font-weight: 600;">Lane stadium</span>
            </div>
        </div>
        <div class="col-sm-1" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;    font-weight: 600;">30</span>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;font-weight: 600;color: blue;">Review Draft</span>
            </div>
        </div>
        <div class="col-sm-2" style="margin: 0px 0px 10px 20px;">
            <div style="display: inline-block;margin: 0px 0px 0px 20px;list-style: none;">
                <span style="font-size: 20px;    font-weight: 600;">Notification</span>
            </div>
        </div>
    </div>

<hr />
<div class="row tableEval">
    <div class="col-sm-2" style="margin: 0px 0px 0px 10px;">
        <table class="table">
            <tbody>
                <tr class="table-success">
                    <td colspan="2" style="text-align:center">Self</td>
                </tr>
                <tr class="table-danger">
                    <td>G</td>
                    <td>Y</td>

                </tr>
                <tr class="table-info">
                    <td>W</td>
                    <td>N</td>

                </tr>
                <tr class="table-warning">
                    <td>C</td>
                    <td>Y</td>

                </tr>


            </tbody>
        </table>
    </div>
    <div class="col-sm-10" style="margin: 0px 0px 0px -10px;">
        <table class="table">
            <tbody>
                <tr class="table-success">
                    <td  style="text-align:center;width: 70%"></td>
                    <td  style="">Manager Eval</td>
                    <td  style="">Comments</td>


                </tr>
                <tr class="table-danger">
                    <td  style="width: 70%">When doing the job do they display characteristics that show they GET what’s necessary in order to do their job? do they understand the role and what’s truly required of them? </td>
                    <td> Yes  <input type="radio" value="true" name="Opt_" />No <input type="radio" value="true" name="Opt_" /> </td>
                    <td></td>
                </tr>
                <tr class="table-info">
                    <td style="width: 70%">Do you and other team members feel (Insert Employee Name) actually wants to do well in their job, based on conversations, work ethic, timeliness, attitude, and overall effort?</td>
                    <td> Yes <input type="radio" value="true" name="Opt_" />No <input type="radio" value="true" name="Opt_" /> </td>

                    <td></td>
                </tr>
                <tr class="table-warning">
                    <td style="width: 70%">Based on (insert employee name here) their ability to focus, their displayed behavior when doing the job, & manage the stresses of the job, Do they have the mental & emotional CAPACITY to do the job?”</td>
                    <td> Yes <input type="radio" value="true" name="Opt_" /> No<input type="radio" value="true" name="Opt_" /> </td>

                    <td></td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="row tableEval">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin: 0px 0px 0px -10px;">
        <table class="table">
            <tbody>
                <tr class="table-success">
                    Core Values
                </tr>
                <tr class="table-danger">
                    <td style="width:30%">Persevere: </td>
                    <td>
                        Always  <input type="radio" value="true" name="Opt_" />
                        Sometimes <input type="radio" value="true" name="Opt_" />
                        Never <input type="radio" value="true" name="Opt_" />
                    </td>
                </tr>
                <tr class="table-info">
                    <td style="width:30%">Accountability</td>
                    <td>
                        Always  <input type="radio" value="true" name="Opt_" />
                        Sometimes <input type="radio" value="true" name="Opt_" />
                        Never <input type="radio" value="true" name="Opt_" />
                    </td>
                </tr>
                <tr class="table-warning">
                    <td style="width:30%">Revolutionized</td>
                    <td>
                        Always  <input type="radio" value="true" name="Opt_" />
                        Sometimes <input type="radio" value="true" name="Opt_" />
                        Never <input type="radio" value="true" name="Opt_" />
                    </td>
                </tr>
                <tr class="table-warning">
                    <td style="width:30%">Keep Growing</td>
                    <td>
                        Always  <input type="radio" value="true" name="Opt_" />
                        Sometimes <input type="radio" value="true" name="Opt_" />
                        Never <input type="radio" value="true" name="Opt_" />
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <input type="text" class="form-control" style="height:200px" placeholder="Comments" multiple/>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8" style="align-content:center">
        <button class="btn btn-primary">Draft</button>
        <button class="btn btn-success">Save</button>

    </div>

</div>
<script>
    $("#back").on('click', function () {
        $("#gridArea").show();
        $('#profileArea').hide();
        $("#List306090").jsGrid("loadData");

    });
</script>