@model WorkOrderEMS.Models.ApproveRejectVendorModel
@{
    ViewBag.Title = "Item List";

    var isRefresh = ViewBag.IsPageRefresh;
    if (isRefresh == true)
    {
        Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/jsgrid/css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/VENDOR/c3/css/c3.min.css" rel="stylesheet" />

<style>
    #chartdiv, #EmployeeCount1 {
        width: 100%;
        height: 250px;
    }

    .package {
        margin-top: 0px !important;
        display: inline-flex;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    label .req {
        margin: 2px;
        color: #ed2f35;
    }

    .form-control {
        border: 1px solid #a0b3b0 !important;
    }

    .jsgrid-grid-body {
        height: 100% !important;
    }

    .headerSize {
        height: 36px;
    }
</style>
<br />
<div class="content-body" style="min-height: 920px;">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">
                    <div class="card-header" style="height: 45px;">
                        <div class="card-header headerSize" style="height:45px;width:100%;padding:0px;">
                            <div class="basic-form">
                                <div class="form-group mb-0">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <a href="javascript:void(0)"><span><i id="AddItem" class="mdi mdi-plus" style="vertical-align:bottom;color:white;font-size:25px;"></i></span></a>
                                        </div>&nbsp;&nbsp;
                                        <div class="col-md-6" style="padding:5px">
                                            <input id="SearchText" class="inputSearch form-control input-rounded" placeholder="Search by Item Name/Code" style="width:350px;height: 25px;padding: 10px;" onkeyup="doSearch()" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="jsGrid-basic" class="jsgrid" style="position: relative; height: 400px; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal bs-example-modal-lg fade preview" id="myModalForGetItemDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="divVendorDetailPreview" class="">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Item Code</label>
                                <div id="lblItemCode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Item Description</label>
                                <div id="lblItemDescription" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Category</label>
                                <div id="lblCategory" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Item Unit</label>
                                <div id="lblItemUnit" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Item Rate</label>
                                <div id="lblItemRate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tax Percentage</label>
                                <div id="lblTaxPercentage" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Revenue Code</label>
                                <div id="lblRevenueCode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Expence Type</label>
                                <div id="lblExpenceType" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Special Note</label>
                                <div id="lblSpecialNote" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>
            </div>

        </div>
    </div>
</div>
<script src="~/GridListing/JqGridScript/ListItem.js"></script>
<script>
    $(document).ready(function () {

    $.ajax({
        type: "GET",
        url: "@Url.Action("GetDashboardForVendorCount", "VendorManagement")",
        data: {},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (dataJSON) {

            am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                // Create chart instance
                var chart = am4core.create("EmployeeCount1", am4charts.PieChart);

                // Add data
                chart.data = [{
                    "User": "Approved",
                    "Count": dataJSON.model.ApprovedVendorCount,
                }, {
                    "User": "Waiting",
                    "Count":dataJSON.model.WaitingVendorCount,
                }, {
                    "User": "Rejected",
                    "Count": dataJSON.model.RejectedVendorCount,
                }];

                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "Count";
                pieSeries.dataFields.category = "User";
                pieSeries.innerRadius = am4core.percent(50);
                pieSeries.ticks.template.disabled = true;
                pieSeries.labels.template.disabled = true;

                var rgm = new am4core.RadialGradientModifier();
                rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, -0.5);
                pieSeries.slices.template.fillModifier = rgm;
                pieSeries.slices.template.strokeModifier = rgm;
                pieSeries.slices.template.strokeOpacity = 0.4;
                pieSeries.slices.template.strokeWidth = 0;

                chart.legend = new am4charts.Legend();
                chart.legend.position = "right";

            }); // end am4core.ready()
        }
    });

        var chartData = [];
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDashboardForLocationAllocaionVendorCount", "VendorManagement")",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (_result) {
                $.each(_result.data, function (index, value)
                {
                    chartData.push(value);
                });
                AmCharts.makeChart("chartdiv", {
                    "theme": "none",
                    "type": "serial",
                    "startDuration": 7,
                    "dataProvider": chartData,
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0
                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "colour",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "VendorCount"
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "LocationName",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 1,
                        "gridAlpha": 0,
                        "labelRotation": 20,
                    },
                    "export": {
                        "enabled": true
                    }
                }, 0);
            }
        });
    });
</script>