@model WorkOrderEMS.Models.CostCodeModel
@{
    ViewBag.Title = "Company List";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    long locationId = 0;
    long userType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];

    if (ObjLogin != null)
    {
        locationId = ObjLogin.LocationID;
        userType = ObjLogin.UserRoleId;
    }
}
@section scripts{
    <script type="text/javascript">
     var $_locationId = '@locationId';
     var $_userTypeId = '@userType';
      @{string hostPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];};
      var $_HostPrefix = '@hostPrefix';
    </script>
    @*<script src="~/Areas/AdminSection/GridList/ListCostCode.js"></script>*@
    <script src="~/Areas/AdminSection/GridList/ListCompanyAdmin.js"></script>
    <script type="text/javascript">
    $(window).bind('resize', function () {
        var width = $('#jqGrid_container').width();
        $('#tbl_CompanyHolderList').setGridWidth(width);
    });
    </script>
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="jqGrid_container">
        <table id="tbl_CompanyHolderList" border="0" cellpadding="0" cellspacing="0"></table>
        <div id="divCompanyHolderListPager"></div>
    </div>
</div>

<div class="modal bs-example-modal-lg fade preview" id="myModalForGetCompanyDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                <h4 class="modal-title" id="myModalLabel">Company Details</h4>
            </div>
            <div class="modal-body">
                <div id="divVendorDetailPreview" class="">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Company Name</label>
                                <div id="lblVendorNameLegal" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Company Name DBA</label>
                                <div id="lblVendorNameDBA" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Company Type</label>
                                <div id="lblVendorType" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Point Of Contact</label>
                                <div id="lblPointOfContact" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Address</label>
                                <div id="lblAddress" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Phone1</label>
                                <div id="lblPhone1" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Phone2</label>
                                <div id="lblPhone2" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Email</label>
                                <div id="lblEmail" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Website</label>
                                <div id="lblWebsite" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:#0792bc;height:2%;">
                            <center><p style="color:white;"><b>Company Insurance & License Details</b></p></center>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>License Name</label>
                                <div id="lblLicenseName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>License Number</label>
                                <div id="lblLicenseNumber" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>License Expiration Date</label>
                                <div id="lblLicenseExpirationDate" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Insurance Carries</label>
                                <div id="lblInsuranceCarries" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Policy Number</label>
                                <div id="lblPolicyNumber" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Insurance Expiration Date</label>
                                <div id="lblInsuranceExpirationDate" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="background-color:#0792bc;height:2%;">
                            <center><p style="color:white;margin-top:4px;"><b>Company Account Details</b></p></center>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Pay Mode</label>
                                <div id="lblPayMode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <div id="lblBankName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label> Bank Location</label>
                                <div id="lblBankLocation" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Account Number</label>
                                <div id="lblAccountNumber" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>IFSC Code</label>
                                <div id="lblIFSCCode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Swift OIC Code</label>
                                <div id="lblSwiftOICCode" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label> Card Number</label>
                                <div id="lblCardNumber" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Card Holder Name</label>
                                <div id="lblCardHolderName" class="form-control-static"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Expiration Date</label>
                                <div id="lblExpirationDate" class="form-control-static"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div class="panel-footer">
                <div class="text-right">
                    @*<button type="button" class="btn btn-default bluebutton text-right" style="border-radius:25px;width:90px;" onclick="return AppproveVendor();" id="btnApproveData">Approve</button>
                    <button class="btn btn-danger" onclick="return RejectVendor();" style="border-radius:25px;width:90px;" id="btnRejectPO">Reject</button>*@
                    <button data-dismiss="modal" class="btn btn-default" style="border-radius:25px;width:90px;" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
