
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandingPage</title>
	<script>
		setTimeout(function () {
			window.location = 'Guest/index';
}, 4000);
	</script>
</head>
<body>
	<div class="container" style="text-align:center">
		<img src="~/Content/Images/land.gif" />
	</div>
</body>
</html>
