
@{
	ViewBag.Title = "PersonalFile";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<style>
	.inline {
		display: inline-block;
		vertical-align: middle;
		padding: 17px 17px 0px 17px;
		cursor: pointer;
	}

		.inline label {
			width: 130px;
			height: 20px;
		}

		.inline:after {
			clear: both;
			content: " ";
			display: block;
			height: 0;
			visibility: hidden;
		}

		.inline .grn-icn:not(:first-child):after,
		.inline .bluesky:not(:first-child):after {
			background: #000;
			bottom: 0;
			content: " ";
			margin-left: -10px;
			position: absolute;
			top: 0;
			width: 1px;
			height: 30px;
		}

	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 1px 5px #ddd;
	}

	.grn-icn {
		padding: 23px 23px 26px 23px;
		margin: 20px;
		width: 100px;
		height: 100px;
		background-color: #3DD643;
		border: 1px solid #000;
		border-radius: 4px;
	}

	.bluesky {
		background-color: #82D5F9;
		padding: 23px 23px 26px 23px;
		margin: 20px;
		width: 100px;
		border: 1px solid #000;
		border-radius: 4px;
		height: 100px;
	}

	.int {
		padding: 17px 9px 17px 9px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 24px 18px #BBF1BE;
		text-align: center;
	}

	.upload-btn-wrapper input[type=file] {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	.btnfile {
		color: #535353;
		border: 1px solid #2196F3;
		width: 300px;
		height: 50px;
		margin-right: 12px;
	}

		.btnfile span {
			font-size: 16px;
		}

	.bottom-area {
		margin-left: 47px;
	}

	.btnsubmit {
		float: right;
		background-color: #0CCC14;
		color: #fff;
		padding: 9px 12px 9px 12px;
		width: 157px;
		height: 58px;
	}

	.lock i {
		color: #FFDFB0;
		float: right;
		position: static;
		margin-right: -33px;
		margin-top: 9px;
		font-size: 20px;
	}

	.devider {
		border-right: 1px solid;
		padding: 0px 35px 0px 0px;
	}
</style>
<link href="~/Content/guest.css" rel="stylesheet" />
<div class="card" style="width: 80%;margin: auto;">
	<div class="card-header">On-Boarding/Personal File</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12" style="text-align:center">
				<div class=" inline">
					<div class="devider">
						<div class="grn-icn">
							<div class="int">
								<i class="fa fa-list fa-lg" aria-hidden="true"></i>
							</div>
							<div class="lock">
								<i class="fa fa-lock fa-lg" style="color:#FFDFB0" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>W-4 Form</label>
				</div>
				<div class="inline">
					<div class="devider">
						<div class="grn-icn">
							<div class="int">
								<i class="fa fa-table fa-lg" aria-hidden="true"></i>
							</div>
							<div class="lock">
								<i class="fa fa-unlock" style="color:#FFDFB0" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>I-9 Form</label>
				</div>
				<div class="inline">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-phone fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Emergency Contact Form</label>

				</div>
				<div class="inline" onclick="OpenForm('employeehandbook')" id="employeeHandbookicn">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-book fa-lg" aria-hidden="true"></i>
							</div>
							<div class="lock">
								<i class="fa fa-unlock" style="color:#FFDFB0" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Employee Handbook</label>
				</div>
				<div class="inline" onclick="OpenForm('directdeposite')" id="directdepositeicn">

					<div class="bluesky">
						<div class="int">
							<i class="fa fa-th fa-lg" aria-hidden="true"></i>
						</div>
						<div class="lock" >
							<i class="fa fa-unlock" style="color:#FFDFB0" aria-hidden="true"></i>
						</div>
					</div>

					<label>Direct Diposite Form</label>
				</div>
			</div>
			<div class="col-md-12" style="text-align:center">
				<div class=" inline">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Photo Release Form</label>
				</div>

				<div class="inline">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-exclamation fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Confidentiality Agreement</label>
				</div>
				<div class="inline" onclick="OpenForm('educationVerificationForm')">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Education Verification Form</label>
				</div>
				<div class="inline">
					<div class="devider">
						<div class="bluesky">
							<div class="int">
								<i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<label>Creditcard Authorization Form</label>
				</div>
				<div class="inline">
					<div class="bluesky">
						<div class="int">
							<i class="fa fa-users fa-lg" aria-hidden="true"></i>
						</div>
					</div>

					<label>Previous Employment</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
			<div class="upload-btn-wrapper">
				<button class="btn btn-default btnfile">Social Security Card</button>
				<span> No File Choosen</span>
				<input type="file" name="myfile" />
			</div>
		</div>
		<div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
			<div class="upload-btn-wrapper">
				<button class="btn btn-default btnfile"> Driver's License</button>
				<span>No File Choosen</span>
				<input type="file" name="myfile" />
			</div>
		</div>
		<div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
			<div class="upload-btn-wrapper">
				<button class="btn btn-default btnfile">Void Check</button>
				<span> No File Choosen</span>
				<input type="file" name="myfile" />
			</div>
		</div>

	</div>
	<div class="row" style="margin-right: 144px;margin-bottom: 13px;">
		<div class="col-md-12 bottom-area"> 
			<button class="btn btn-default btnsubmit" onclick="ThankYou();">
				Submit
			</button>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModel" role="dialog" style="background:#fff" data-backdrop="true">
	<div style="float:right;cursor:pointer;" onclick="closeModel();">
		<i class="fa fa-times fa-lg" aria-hidden="true"></i>
	</div>
	<div class="modal-dialog modal-lg" >
		<div class="modal-content" id="formid">
			
		</div>
	</div>
</div>
