@{
	ViewBag.Title = "PersonalFile";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";


}
<div class="row">
	<div class="card" style="margin: auto;
    vertical-align: middle;
    padding: 280px;">
		<div class="card-body">
			<h1>Thank You</h1>
		</div>
	</div>
</div>