@{
	ViewBag.Title = "PersonalFile";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";


}
<div class="row">
	<div class="card" style="margin: auto;
    vertical-align: middle;
    padding: 280px;">
		<div class="card-body">
			<h2>Thank You for completing on-boarding process.</h2>
            <h1>HR will get back to you</h1>
		</div>
	</div>
</div>