@model WorkOrderEMS.Models.LocationDetailsModel
@{
    ViewBag.Title = "Display Location Data";
    //Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    Layout = null;
    string eTracScriptVersion = System.Configuration.ConfigurationManager.AppSettings["eTracScriptVersion"];
    string loginUserName = "", loginUserEmail = "", loginUserContactNo = "", loginUserProfile = "";
    long loginUserType = 0;
    WorkOrderEMS.Models.eTracLoginModel ObjLogin = (WorkOrderEMS.Models.eTracLoginModel)Session["eTrac"];
    long viewallloc = (Convert.ToInt64(Session["eTrac_SelectedDasboardLocationID"]));
    string imgPath = (Convert.ToString(Session["eTrac_ProfileImage"]));
    long locationId = 0;
    string hostingPrefix = System.Configuration.ConfigurationManager.AppSettings["hostingPrefix"];
    long i = 1;
    if (ObjLogin != null)
    {
        loginUserName = ObjLogin.FName + "'s";
        loginUserEmail = ObjLogin.Email;
        loginUserProfile = ObjLogin.UserProfile;
        loginUserType = ObjLogin.UserRoleId;
        //loginUserContactNo = ObjLogin.ContactNo;
        locationId = ObjLogin.LocationID;
    }
}
<style>
    .addChart:hover {
        background-color: #545454;
    }
</style>
@*https://codepen.io/lyriat/pen/ZvxvdQ*@

<link href="~/Areas/AdminSection/Content/CSS/IconDisplayCSS.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="card" data-aos="fade-up">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="card-title mb-4">ePeople</h4>
                        <div class="block">
                            <div class="hovicon effect-8" title="Add Chart">
                                <img src="~/Areas/AdminSection/Content/IMAGE/orgChart.png" id="addChart" style="width:60px;transition: all ease-in-out 0.2s;" />
                            </div>
                        </div>
                        <div class="block">
                            <div class="hovicon effect-8" id="AddDepartment" title="click here" >
                                <img src="~/Areas/AdminSection/Content/IMAGE/department.png" style="width:60px;"  />
                            </div>
                        </div>
                        <div class="block">
                            <div class="hovicon effect-8">
                                <img src="~/Areas/AdminSection/Content/IMAGE/orgChart.png" style="width:60px;" />
                            </div>
                        </div>
                        <div class="block">
                            <div class="hovicon effect-8">
                                <img src="~/Areas/AdminSection/Content/IMAGE/orgChart.png" style="width:60px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal To Add -->
<!--Add all Partial View for Admin Dahsboard-->
<div id="Data_AddChart">
    @Html.Partial("_AddChart");
</div>
<!--End Partial View for Admin Dahsboard-->

<script>
    $(document).ready(function () {
        $("#addChart").click(function () {
            $("#myModalForChart").modal("show");
        });
        $("#AddDepartment").click(function () {
            debugger
            var addNewUrl = "@Url.Action("Index", "Department", new { area = "AdminSection" })";
            $('#RenderPageId').load(addNewUrl);
        })
       
    })
</script>