
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="row">
        <div class="card" style="margin: auto;
    vertical-align: middle;
    padding: 280px;">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-info">An error occurred while processing your request.</h2>
            <h2 class="text-info">@ViewBag.Error</h2>
        </div>
    </div>
</body>
</html>
