
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
<body>
    <div class="row">
        <div class="card" style="margin: auto;vertical-align: middle;padding: 280px;">
            <div class="card-body">
                <h1>Thank You </h1>
            </div>            
        </div>
    </div>
</body>
</html>
