@{
    ViewBag.Title = "Vendor Report";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<script src="~/Content/Report-NavBar/jquery.smooth-scroll.js"></script>
<script src="~/Content/Report-NavBar/run_prettify.js"></script>
<!-- stylesheets-->
<link href="http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700,400italic" rel="stylesheet" type="text/css">
<link href="~/Content/Report-NavBar/ohover.css" rel="stylesheet" />
<link href="~/Content/Report-NavBar/main.css" rel="stylesheet" />
<style>
    #ReportBar li a {
        border-radius: 4px 4px 0 0 !important;
        border-color: lightgray;
    }

    l .active a {
        background-color: #0aa0cd !important;
        color: white !important;
    }
</style>
<div class="clearfix"></div>
<div class="content-header ">
    <div class="panel">
        <div data-example-id="simple-nav-justified" class="bs-example">
            <div class="row-2">
                <div class="item-hover circle effect3 left_to_right">
                    <a href="@Url.Action("VendorDetails","eCountingReport")">
                        <div class="img"><img src="~/Content/Images/Report/WorkOrderIssued.png"></div>
                        <div class="info">
                            <h5>Vendor Detail</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row-2">
                <div class="item-hover circle effect3 left_to_right">
                    <a href="@Url.Action("PaymentSummaryView","eCountingReport")">
                        <div class="img"><img src="~/Content/Images/Report/WorkOrderIssued.png"></div>
                        <div class="info">
                            <h5>Payment Summery</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>