@{
    ViewBag.Title = "Vendor Report";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<script src="~/Content/Report-NavBar/jquery.smooth-scroll.js"></script>
<script src="~/Content/Report-NavBar/run_prettify.js"></script>
<!-- stylesheets-->
<link href="http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700,400italic" rel="stylesheet" type="text/css">
<link href="~/Content/Report-NavBar/ohover.css" rel="stylesheet" />
<link href="~/Content/Report-NavBar/main.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/CSS/custom.css" rel="stylesheet" />

<div class="content-body">
    <!-- row -->
    <div class="container-fluid" style="margin-top:15px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card aos-init" data-aos="fade-up">

                    <div class="card-header headerSize">
                        <h4 class="card-title"> Vendor Report </h4>
                    </div>

                    <div class="card-body">
                        <div class="row row-justify-center">
                        <div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
                            <div class="card-header card-custom-padding border-radius-card-header">


                                <a href="@Url.Action("VendorDetails","eCountingReport")">
                                    
                                        <h4 class="card-text white-text">
                                            <i class="fa fa-list list-icon-vendor" aria-hidden="true"></i>
                                            Vendor Detail
                                        </h4>
                                    
                                </a>

</div>
                        </div>

                        <div class="col-xl-6 col-xxl-6 col-lg-6 col-sm-6">
                            <div class="card-header card-custom-padding border-radius-card-header">

                                <a href="@Url.Action("PaymentSummaryView","eCountingReport")">
                                 
                                        <h4 class="card-text white-text">
                                            <i class="fa fa-credit-card list-icon-vendor"></i>
                                            Payment Summary
                                        </h4>
                                   
                                    </a>

                            </div>
                        </div>
                            </div>
                    </div>

                  
                    </div>
            </div>
        </div>
    </div>
</div>