
<style>

    .inline {
        display: inline-block;
        vertical-align: middle;
        padding: 17px 17px 0px 17px;
        cursor: pointer;
    }
    .fa-lg-Custom-css {
        font-size: 1.10em;
    }

        .inline label {
            width: 130px;
            height: 20px;
        }

        .inline:after {
            clear: both;
            content: " ";
            display: block;
            height: 0;
            visibility: hidden;
        }

        .inline .grn-icn:not(:first-child):after,
        .inline .bluesky:not(:first-child):after {
            background: #000;
            bottom: 0;
            content: " ";
            margin-left: -10px;
            position: absolute;
            top: 0;
            width: 1px;
            height: 30px;
        }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 5px #ddd;
    }

    .grn-icn {
        padding: 23px 23px 26px 23px;
        margin: 20px;
        width: 100px;
        height: 100px;
        background-color: #3DD643;
        border: 1px solid #000;
        border-radius: 4px;
    }

    .bluesky {
        background-color: #82D5F9;
        padding: 23px 23px 26px 23px;
        margin: 20px;
        width: 100px;
        border: 1px solid #000;
        border-radius: 4px;
        height: 100px;
    }
    .yellowsky {
        background-color: #CDD01F;
        padding: 23px 23px 26px 23px;
        margin: 20px;
        width: 100px;
        border: 1px solid #000;
        border-radius: 4px;
        height: 100px;
    }
    .redsky {
        background-color: #CA0202;
        padding: 23px 23px 26px 23px;
        margin: 20px;
        width: 100px;
        border: 1px solid #000;
        border-radius: 4px;
        height: 100px;
    } 
    
    .int {
        padding: 17px 9px 17px 9px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 24px 18px #BBF1BE;
        text-align: center;
    }

    .upload-btn-wrapper input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .btnfile {
        color: #535353;
        border: 1px solid #2196F3;
        width: 166px;
        height: 30px;
        margin-right: 12px;
    }

        .btnfile span {
            font-size: 16px;
        }

    .bottom-area {
        margin-left: 47px;
    }

    .btnsubmit {
        float: right;
        background-color: #0CCC14;
        color: #fff;
        padding: 9px 12px 9px 12px;
        width: 157px;
        height: 58px;
    }

    .lock i {
        color: #FFDFB0;
        float: right;
        position: static;
        margin-right: -39px;
        margin-top: 9px;
        font-size: 20px;
    }
    .faemail i {
        color: #1ec632;
        float: right;
        position: static;
        margin-right: -38px;
        margin-top: -5px;
        font-size: 12px;
    }
    /*.devider {
        border-right: 1px solid;
        padding: 0px 35px 0px 0px;
    }*/
    .devider1 {
        /*border-right: 1px solid;*/
        /*padding: 0px 35px 0px 0px;*/
        margin-left: -70px;
    }
    .employeeImage{
        width:70px;
        height:70px;
        border-radius:100px;
    }
    .yellowFileOpen {
        color: #CDD01F;
        font-size: 60px;
        cursor:pointer;
    }
    .redFileOpen {
        color: #CA0202;
        font-size: 60px;
        cursor: pointer;
    }
    .greenFileOpen {
        color: forestgreen;
        font-size: 60px;
        cursor: pointer;
    }
    .blueFileOpen {
        color: #82D5F9;
        font-size: 60px;
        cursor: pointer;
    }
    .marignClass{
        margin-left:30px;
    }
    .hrHeight {
        height: 12px;
        background: #1eb4d5;
    }
</style>
@*<link href="~/Content/guest.css" rel="stylesheet" />*@
@*<script>
	function OpenForm(formname) {
		$("#educationVerificationModel").modal('show');
	}
</script>*@

        <div >
            <div class="col-md-12">
                <div class="devider">
                    <img src="" id="EmployeeImage" class="employeeImage" />
                    <label class="marignClass">Name : </label><span class="marignClass" id="EmployeeName"></span>
                    <label class="marignClass">Designation : </label><span class="marignClass" id="EmployeeDesignation"></span>
                </div>
                <hr class="hrHeight" />
                <div class="col-md-12"><i class="fa fa-folder-open greenFileOpen" onclick="myFunctionGreenFiles()" title="Green Files" aria-hidden="true"></i></div>
                <div class="col-md-12" id="openGreenFile" style="text-align:center;display:none;">
                    <div class=" inline">
                        <div class="devider">
                            <div class="grn-icn">
                                <div class="int">
                                    <i class="fa fa-list fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>W-4 Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="grn-icn">
                                <div class="int">
                                    <i class="fa fa-table fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>I-9 Form</label>
                    </div>

                </div>
                <hr />
                <div class="col-md-12"><i class="fa fa-folder-open yellowFileOpen" onclick="myFunctionYellowFiles()" title="Yellow Files" aria-hidden="true"></i></div>
                <div class="col-md-12" id="openYellowFile" style="text-align:center;display:none;">
                    <div class=" inline">
                        <div class="devider">
                            <div class="yellowsky">
                                <div class="int">
                                    <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Photo Release Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="yellowsky">
                                <div class="int">
                                    <i class="fa fa-exclamation fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Confidentiality Agreement</label>
                    </div>
                    <div class="inline" onclick="OpenForm('educationVerificationForm')">
                        <div class="devider">
                            <div class="yellowsky">
                                <div class="int">
                                    <i class="fa fa-graduation-cap fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Education Verification Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="yellowsky">
                                <div class="int">
                                    <i class="fa fa-credit-card fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                                <div class="lock">
                                    <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                                </div>
                                <div class="faemail">
                                    <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Creditcard Authorization Form</label>
                    </div>
                    <div class="inline">
                        <div class="yellowsky">
                            <div class="int">
                                <i class="fa fa-users fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                            </div>
                            <div class="lock">
                                <i class="fa fa-lock" style="color:#FFDFB0" aria-hidden="true"></i>
                            </div>
                            <div class="faemail">
                                <i class="fa fa-envelope" title="E-mail" aria-hidden="true"></i>
                            </div>
                        </div>
                        <label>Previous Employment</label>
                    </div>
                </div>
                <hr />
                <div class="col-md-12"><i class="fa fa-folder-open redFileOpen" onclick="myFunctionRedFiles()" title="Red Files" aria-hidden="true"></i></div>
                <div class="col-md-12" id="openRedFile" style="text-align:center;display:none;">
                    <div class=" inline">
                        <div class="devider">
                            <div class="redsky">
                                <div class="int">
                                    <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Photo Release Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="redsky">
                                <div class="int">
                                    <i class="fa fa-exclamation fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Confidentiality Agreement</label>
                    </div>
                    <div class="inline" onclick="OpenForm('educationVerificationForm')">
                        <div class="devider">
                            <div class="redsky">
                                <div class="int">
                                    <i class="fa fa-graduation-cap fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Education Verification Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="redsky">
                                <div class="int">
                                    <i class="fa fa-credit-card fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Creditcard Authorization Form</label>
                    </div>
                    <div class="inline">
                        <div class="redsky">
                            <div class="int">
                                <i class="fa fa-users fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                            </div>
                        </div>
                        <label>Previous Employment</label>
                    </div>
                </div>
                <hr />
                <div class="col-md-12"><i class="fa fa-folder-open blueFileOpen" onclick="myFunctionBlueFiles()" title="Blue Files" aria-hidden="true"></i></div>
                <div class="col-md-12" id="openBlueFile" style="text-align:center;display:none;">
                    <div class=" inline">
                        <div class="devider">
                            <div class="bluesky">
                                <div class="int">
                                    <i class="fa fa-file-image-o fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Photo Release Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="bluesky">
                                <div class="int">
                                    <i class="fa fa-exclamation fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Confidentiality Agreement</label>
                    </div>
                    <div class="inline" onclick="OpenForm('educationVerificationForm')">
                        <div class="devider">
                            <div class="bluesky">
                                <div class="int">
                                    <i class="fa fa-graduation-cap fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Education Verification Form</label>
                    </div>
                    <div class="inline">
                        <div class="devider">
                            <div class="bluesky">
                                <div class="int">
                                    <i class="fa fa-credit-card fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <label>Creditcard Authorization Form</label>
                    </div>
                    <div class="inline">
                        <div class="bluesky">
                            <div class="int">
                                <i class="fa fa-users fa-lg fa-lg-Custom-css " aria-hidden="true"></i>
                            </div>
                        </div>
                        <label>Previous Employment</label>
                    </div>
                </div>
            </div>
        <hr />
        @*<div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
            <div class="upload-btn-wrapper">
                <button class="btn btn-default btnfile">Social Security Card</button>
                <span> No File Choosen</span>
                <input type="file" name="myfile" />
            </div>
        </div>
        <div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
            <div class="upload-btn-wrapper">
                <button class="btn btn-default btnfile"> Driver's License</button>
                <span>No File Choosen</span>
                <input type="file" name="myfile" />
            </div>
        </div>
        <div class="col-md-12 bottom-area" style="margin-bottom: 12px;">
            <div class="upload-btn-wrapper">
                <button class="btn btn-default btnfile">Void Check</button>
                <span> No File Choosen</span>
                <input type="file" name="myfile" />
            </div>
        </div>*@
    </div>
    
<!-- Modal -->
@*<div class="modal fade" id="educationVerificationModel" role="dialog">
    <div class="modal-dialog modal-lg">
        @{ Html.RenderPartial("_educationVarificationForm");}
    </div>
</div>*@

<script>
    function myFunctionGreenFiles() {
        debugger
      var x = document.getElementById("openGreenFile");
  if (x.style.display === "none") {
    x.style.display = "block";
     } else {
    x.style.display = "none";
   }
    }
    function myFunctionYellowFiles() {
        debugger
        var x = document.getElementById("openYellowFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunctionRedFiles() {
        debugger
        var x = document.getElementById("openRedFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function myFunctionBlueFiles() {
        debugger
        var x = document.getElementById("openBlueFile");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>