<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="myModalForAddEmployee">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">On-Boarding/Generate New Employee</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divDetailPreview" class="">
                    <div class="row">
                        <div class="" id="DivContractDetailsIndex">
                            <form id="SaveVCSChartForm">
                               
                                <div class="basic-form" style="margin-right: 40px;">
                                    <div class="form-group row">
                                        @*@Html.LabelFor(model => model.SeatingName, new { @class = "col-sm-2 col-form-label" })*@
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-rounded required" placeholder="First Name" />

                                        </div>
                                        @*@Html.LabelFor(model => model.Superior, new { @class = "col-sm-2 col-form-label" })*@
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-rounded required" placeholder="Middle Name" />

                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-rounded required" placeholder="Last Name" />

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @*@Html.LabelFor(model => model.Department, new { @class = "col-sm-2 col-form-label" })*@
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="Street Address1" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="Street Address2" />
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        @*@Html.LabelFor(model => model.JobDescription, new { @class = "col-sm-2 col-form-label" })*@
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="City" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="State" />
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        @*@Html.LabelFor(model => model.JobDescription, new { @class = "col-sm-2 col-form-label" })*@
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="Mobile" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-rounded required" placeholder="Mail-Id" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                @*<div>
                    <button type="button" class="btn btn-success pull-left" id="ViewVSC" style="border-radius:100px;">View Chart</button>
                    <button type="button" class="btn btn-secondary pull-right" id="closeVSC" style="border-radius:100px;" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-primary pull-right" id="SaveVSC" style="border-radius:100px;margin-right: 10px;" value="Save" />
                </div>*@
            </div>
        </div>
        <div class="modal-footer" style="background: white;">
               
                <button type="button" class="btn btn-secondary" id="closeVSC" style="border-radius:100px;" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" id="SaveVSC" style="border-radius:100px;" value="Save" />
            </div>
    </div>
</div>

