@model IEnumerable<WorkOrderEMS.Models.NewAdminModel.MyOpeningModel>
<style>
	.cardLayout {
		background-color: #018FFC;
		margin-left: 2.6rem;
		margin-bottom: 0.5rem;
		width: 93%;
		border-bottom: 1px #a99e9e solid;
	}

	.card-body-custom {
		padding: 0px 0px 0px 0px;
	}

	img {
		border-radius: 50%;
		height: auto;
		width: 50px;
	}

	.profile_image {
		width: 55px;
	}

	.profile_detail {
		width: 150px;
	}

	.name {
		position: relative;
		display: block;
		font-weight: bold;
		font-size: 20px;
		color: #000000;
	}

	.profile {
		position: absolute;
		color: #000000;
	}

	.inline {
		display: inline-block;
		position: relative;
	}

	.yellow {
		color: yellow;
	}

	.spccing {
		padding: 20px;
	}

	.actionbox {
		width: 50px;
		background-color: #22713a;
		text-align: center;
		border-radius: 5px;
		padding: 2px;
		min-width: 73px;
		min-height: 68px;
	}

	.action {
		float: right;
	}

	.white {
		color: white;
		font-size: 58px;
	}

	.mobile {
		color: whitesmoke;
		font-size: 16px;
	}

	.email {
		color: whitesmoke;
		font-size: 16px;
		min-width: 3.6rem;
	}

	.status {
		font-weight: bold;
		font-size: 16px;
		color: blueviolet;
		width: 10%;
	}
	.right-sec
	{
		float:right;
	}
	.cardLayoutdetail {
		margin-top: -8px;
		border-radius: 0px;
		background-color: white;
		margin-left: 2.6rem;
		margin-bottom: 0.5rem;
		width: 93%;
	}
	.right-pad {
		margin: 2px;
	}

	.email-sec {
		background-color: #018FFC;
		padding: 34px 8px 28px 22px;
		text-align: center;
		box-shadow: 0px 0px 4px #888888;
		color: white;
	}

	.d-sal {
		background-color: #018FFC;
		padding: 34px 8px 28px 22px;
		text-align: center;
		box-shadow: 0px 0px 4px #888888;
		color: white;
	}

	.start-d {
		background-color: #018FFC;
		padding: 34px 8px 28px 22px;
		text-align: center;
		box-shadow: 0px 0px 4px #888888;
		color: white;
	}
	.footer-sec {
		bottom: 0;
		position: fixed;
		background-color: red;
		width:100%;
	}
	.detail-footer {
		vertical-align: bottom;
		position: relative;
		background-color: #fff;
		clear: both;
		text-align:center;
		
	}
	.btn-custom {
		padding: 8px 52px 13px 61px;
		margin: 11px;
		border-radius: 6px;
		background-color: #4a9e49;
		border-color: #4a9e49;
		font-weight:bold;
		font-size:16px;
	}
</style>
@foreach (var x in Model)
{
	<div class="card cardLayout" onclick="ShowDetail(this)">
		<div class="card-body card-body-custom">
			<div class="profile_image inline spccing">
				<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
			</div>
			<div class="profile_detail inline spccing">
				<span class="name">
					@(string.Format("{0} {1}", x.FirstName, x.LastName))
				</span>
				<span class="profile">
					General Manager
				</span>
			</div>
			<div class="rating inline spccing">
				<i class="fa fa-star yellow" aria-hidden="true"></i>
				<i class="fa fa-star yellow" aria-hidden="true"></i>
				<i class="fa fa-star yellow" aria-hidden="true"></i>
				<i class="fa fa-star yellow" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="mobile inline spccing"><span>@x.PhoneNumber</span></div>
			<div class="email inline spccing"><span>@x.Email</span></div>
			<div class="status inline spccing">@x.Status</div>
			<div class="action inline spccing">
				<div class="action1 inline actionbox"><i class="fa fa-exclamation-triangle white" aria-hidden="true"></i></div>
				<div class="action1 inline actionbox"><i class="fa fa-gg-circle white" aria-hidden="true"></i></div>
				<div class="action1 inline actionbox"><i class="fa fa-diamond white" aria-hidden="true"></i></div>
			</div>

		</div>
	</div>
	<div class="card cardLayoutdetail" style="display:none">
		<div class="card-body card-body-custom">
			<div class="right-sec">
				<div class="email-sec right-pad">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					<div>Email</div>
				</div>
				<div class="d-sal right-pad">
					<div>Desire Salary</div>
					<i class="fa fa-usd" aria-hidden="true"></i> 50,000
				</div>
				<div class="start-d right-pad">
					<div>Available Start Date</div>
					<span>24/09/2019</span>
				</div>
			</div>
			<div class="detail-footer">
				<button class="btn-custom btn-primary">Resume</button>
				<button class="btn-custom btn-primary">Notes</button>
				<button class="btn-custom btn-primary">eMails</button>
				<button class="btn-custom btn-primary">Interview</button>
				<div class="dropdown" style="float:right">
					<button type="button" class="btn btn-primary dropdown-toggle" style="padding: 20px 17px 29px 15px;" data-toggle="dropdown">
						Dropdown button
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Link 1</a>
						<a class="dropdown-item" href="#">Link 2</a>
						<a class="dropdown-item" href="#">Link 3</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}

