<style>
	.btnyes {
		background: #0CCC14;
		width: 150px;
		color: #fff;
		font-size: 20px;
	}

	.btnNo {
		background: #F44336;
		width: 150px;
		color: #fff;
		font-size: 20px;
	}

	.question {
		color: white;
		padding: 18px 11px 12px 27px;
		font-size: 27px;
	}

	.qusOpt {
		padding: 18px 11px 12px 27px;
	}

	.btnnext {
		background: #0CCC14;
		width: 150px;
	}

	.btnnextarrow {
		color: #fff;
	}

	.inputComment {
		width: 80%;
		display: inline-block;
	}

	.btmcomment {
		bottom: 0;
		position: absolute;
		margin: 12px;
	}
</style>


<div class="">
	<div class="row" id="#slides">
		<div id="questionArea">
			
		</div>

		<div class="col-md-12 btmcomment">
			<input type="text" class="form-control input-rounded inputComment" placeholder="Comment" id="commentbox" />
			<button class="btn btn-default btnnext" onclick="SaveAndNext(null);"><i class="fa fa-arrow-circle-o-right fa-lg btnnextarrow"></i></button>
		</div>
	</div>

</div>