<link href="~/Content/NewAdminContent/AnimatedChart/CSS/JqueryScripttop.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/reset-html5.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/micro-clearfix.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/stiff-chart.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/custom.css" rel="stylesheet" />

<div id="AddNewChartData">
    <div class="stiff-chart-inner">     
    </div>
</div>



<script src="~/Content/NewAdminContent/AnimatedChart/JS/stiffChart.js"></script>
<script>
       $(document).ready(function() {
           $('#AddNewChartData').stiffChart();

       });
</script>
@*<script>
    $('#AddNewChartData').stiffChart({
            lineColor:'#3498db',
    lineWidth: 2,
    lineShape:'curved',
    enable: '<a href="https://www.jqueryscript.net/zoom/">Zoom</a>:true',
    layoutType:'vertical',// 'vertical' or 'horizontal'
    childCounter:true,
    activeClass:'chart-active',
    bootstrapPopover:false // enable <a href="https://www.jqueryscript.net/tags.php?/Bootstrap/">Bootstrap</a> popover
    });

</script>*@
<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<script>
    function ViewTreeUserData(id) {
        debugger

        $.ajax({
            type: "POST",
            data: { 'Id': id },
            url: '../EPeople/GetUserTreeViewList/',
            beforeSend: function () {
                new fn_showMaskloader('Please wait...');
            },
            //contentType: "application/json; charset=utf-8",
            error: function (xhr, status, error) {
            },
            success: function (ChildrenList) {
                debugger
                $(".stiff-chart-inner").html("");
                if (ChildrenList.length > 0) {
                    for(i = 0;i < ChildrenList.length ;i++)
                    {
                        if (i == 0) {
                            var tt = $(".stiff-chart-inner").append('<div class="stiff-chart-level" data-level="01"><div class="stiff-main-parent"><ul><li data-parent="a"><div class="the-chart"><img src="' + ChildrenList[i].ProfilePhoto + '" alt=""><p>"' + ChildrenList[i].EmployeeName + '"</p></div></li></ul></div></div>');
                            var secondUL = '<div class="stiff-chart-level" data-level="02"><div class="stiff-child" data-child-from="a"><ul>'
                        }
                        else {
                            secondUL = secondUL + '<li data-parent="a01" class="clicklielement"><div class="the-chart"><img src="' + ChildrenList[i].ProfilePhoto + '" alt=""> <p>"' + ChildrenList[i].EmployeeName + '"</p></div> </li>'
                        }
                    }
                    secondUL = secondUL + '</ul></div></div>';
                    //$(".stiff-chart-inner").after(secondUL);
                    $(".stiff-chart-inner").append(secondUL);
                }
                else {
                    $(".stiff-chart-inner").html("No record found");
                }
            },
            complete: function () {
                fn_hideMaskloader();
            }
        });
    }
</script>