<link href="~/Content/NewAdminContent/AnimatedChart/CSS/JqueryScripttop.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/reset-html5.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/micro-clearfix.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/stiff-chart.css" rel="stylesheet" />
<link href="~/Content/NewAdminContent/AnimatedChart/CSS/custom.css" rel="stylesheet" />




<div id="NewChartData">
    <div class="stiff-chart-inner chartRemove">

        @*<div class="stiff-chart-level chartlevel1 chartRemove" data-level="01">

            </div>*@
        @*<div class="stiff-chart-level chartRemove chartlevel2" data-level="02">
                <div class="stiff-child" data-child-from="a">
                    <ul>
                        <li data-parent="a01" data-employeeId="EMP0124">
                            <div class="the-chart">
                                <img src="http://localhost:57572//Content/Images/ProfilePic/null" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="a02" data-employeeId="thomashardy">
                            <div class="the-chart">
                                <img src="http://localhost:57572//Content/Images/ProfilePic/7_636530235980373604.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>*@
        @*<div class="stiff-chart-level" data-level="02">
                <div class="stiff-child" data-child-from="a">
                    <ul>
                        <li data-parent="a01">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="a02">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="a03">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>*@
        @*<div class="stiff-chart-level" data-level="02">
                <div class="stiff-child" data-child-from="b">
                    <ul>
                        <li data-parent="b01">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b02">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b03">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b04">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b05">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b06">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="b07">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="stiff-chart-level" data-level="02">
                <div class="stiff-child" data-child-from="c">
                    <ul>

                        <li data-parent="c01">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="stiff-chart-level" data-level="03">
                <div class="stiff-child" data-child-from="c07">
                    <ul>

                        <li data-parent="c0701">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0702">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0703">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0704">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0705">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0706">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>
                        <li data-parent="c0707">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="stiff-chart-level" data-level="03">
                <div class="stiff-child" data-child-from="b01">
                    <ul>

                        <li data-parent="b0101">
                            <div class="the-chart">
                                <img src="https://placeimg.com/100/100/animals" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>*@

    </div>
</div>
<script src="~/Content/NewAdminContent/AnimatedChart/JS/stiffChart.js"></script>
<script>
   $(document).ready(function() {
       $('#NewChartData').stiffChart({
     });
   });
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>