
<div class="panel-body" style="margin-left: 40px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Seating Name</label>
                    <div id="txtSeatingName" class="form-control-static"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Job Description</label>
                    <div id="txtJobDescription" class="form-control-static"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Department Name</label>
                    <div id="txtDepartmentName" class="form-control-static"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Rate Of Pay</label>
                    <div id="txtRateOfPay" class="form-control-static"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Employment Classification</label>
                    <div id="txtEmploymentClassification" class="form-control-static"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Employment Status</label>
                    <div id="txtEmploymentStatus" class="form-control-static"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Roles And  Responsibility </label>
                    <div id="txtRolesAndResponsibility" class="form-control-static"></div>
                </div>
            </div>            
        </div>    
        <div class="clear clearfix"></div>
        <div class="modal-footer" style="background: white;">
            <button type="button" class="btn btn-primary text-right" id="DeleteVSC" style="border-radius:35px;">Delete</button>
            <button class="btn btn-default bluebutton" style="border-radius:35px;" data-dismiss="modal">Close</button>
        </div> 
</div>