@{

    string EmployeeId = (Convert.ToString(Session["EmployeeId"]));
}


    <link href="~/Areas/AdminSection/Content/CSS/GetOrg.css" rel="stylesheet" />

    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" data-aos="fade-up">
                        <div style="height: 45px;background:#0aa0cd;">
                            <div class="form-group row" style="margin-left:10px;margin-top:6px;">
                                <a id="BackToEmployeeGrid" title="Back to Employee List" style="cursor:pointer;"><i class="fa fa-long-arrow-left fa-2x" style="color:white;"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="ChartContainerEmployeeList" class="card" data-aos="fade-up"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/AdminSection/Content/JQUERY/GetOrg.js"></script>
    <script>
        $("#BackToEmployeeGrid").click(function () {
            var addNewUrl = "@Url.Action("ePeopleDashboard", "NewAdmin")";
            $('#RenderPageId').load(addNewUrl);
        });
        var VSCId;
        debugger
        var empId = '@EmployeeId';
        $.ajax({
            type: "POST",
            // data: { 'Id': item.id},
            url: '../EPeople/GetVehicleSeatingChartPositionedUser?Id=' + empId,
            beforeSend: function () {
                new fn_showMaskloader('Please wait...');
            },
            contentType: "application/json; charset=utf-8",
            error: function (xhr, status, error) {
            },
            success: function (result) {
                debugger
                if (result != null) {
                    VSCId = result.VSTId;
                }
                
            },
            complete: function () {
                fn_hideMaskloader();
            }
        });        
    var peopleElement = document.getElementById("ChartContainerEmployeeList");
    var addNewUrl = "@Url.Action("GetChartDisplayData", "AdminDashboard", new { area = "AdminSection" })";
    $.ajax({
        type: "POST",
        url: addNewUrl,
        success: function (listData) {
            debugger
            var PointingId;
            var tabledata = [];
            if (listData != null)
            {
                for (var i = 0; i < listData.length; i++)
                {
                    var data = {};
                    if (i == 0)
                    {
                        listData[i].parentId = null;
                    }
                    //$(".get-level-1 ").children().attr("class").attr({ "style": "fill:green" }); css('opacity', 1);
                    //$(".get-level-1 ").children().attr("class").attr({ "style": "fill:green" }); css('opacity', 1);
                    //if (listData[i].Id == VSCId)
                    //{
                    //    PointingId = VSCId;
                    //    $(".get-level-" + VSCId + " ").children().css('background', 'green');
                    //}
                    data.id = listData[i].Id;
                    data.parentId = listData[i].parentId;
                    data.SeatingName = listData[i].SeatingName;
                    data.JobDescription = listData[i].JobDescription;
                    data.DepartmentName = listData[i].DepartmentName;
                    tabledata.push(data);
                }
                var orgChart = new getOrgChart(peopleElement, {
                    primaryFields: ["SeatingName", "JobDescription", "DepartmentName"],
                    dataSource: tabledata,
                });
                $(".get-text-0").attr("y", "30"); $(".get-text-0").attr("y", "30");
                $(".get-text-1").attr("y", "65"); $(".get-text-2").attr("y", "90");
                $(".get-text-3").attr("y", "120"); $(".get-text-4").attr("y", "150");
                $(".get-text-4").attr("y", "180"); $(".get-text-6").attr("y", "210");
                $(".get-text-7").attr("y", "240"); $(".get-text-8").attr("y", "270");
                $(".get-text-9").attr("y", "300"); $(".get-text-10").attr("y", "330");
            }
            $('[data-node-id="'+PointingId+'"]').children().first().css("fill", "green");
            //$(".get-level-" + PointingId + " ").children().css('fill', 'green');
        },
        error: function (err) {
        }
    });


    </script>
    @*<script>
            debugger
            var peopleElement = document.getElementById("containerForViewChartDemo");
            var addNewUrl = "@Url.Action("GetChartDisplayDataForEmployee", "EPeople")";
            $.ajax({
                type: "POST",
                url: addNewUrl + "?LocationId=" + $("#drp_MasterLocation1 option:selected").val(),
                beforeSend: function () {
                    new fn_showMaskloader('Please wait...');
                },
                success: function (listData) {
                    $("#myModalForViewVCSData").modal("show");
                    var tabledata = [];
                    if (listData != null)
                    {
                        for (var i = 0; i < listData.length; i++)
                        {
                            var data = {};
                            if (i == 0)
                            {
                                listData[i].parentId = null;
                            }
                            data.id = listData[i].Id;
                            data.parentId = listData[i].parentId;
                            data.SeatingName = listData[i].SeatingName;
                            data.JobDescription = listData[i].JobDescription;
                            data.DepartmentName = listData[i].DepartmentName;
                            tabledata.push(data);
                        }
                        var orgChart = new getOrgChart(peopleElement, {
                            primaryFields: ["SeatingName", "JobDescription", "DepartmentName"],
                            dataSource: tabledata,
                        });
                        $(".get-text-0").attr("y", "30"); $(".get-text-0").attr("y", "30");
                        $(".get-text-1").attr("y", "65"); $(".get-text-2").attr("y", "90");
                        $(".get-text-3").attr("y", "120"); $(".get-text-4").attr("y", "150");
                        $(".get-text-4").attr("y", "180"); $(".get-text-6").attr("y", "210");
                        $(".get-text-7").attr("y", "240"); $(".get-text-8").attr("y", "270");
                        $(".get-text-9").attr("y", "300"); $(".get-text-10").attr("y", "330");
                    }
                },
                error: function (err) {
                },
                complete: function () {
                    fn_hideMaskloader();
                }
            });
        </script>*@
