@model WorkOrderEMS.Models.NewAdminModel.TCAPIP.TerminationModel
    Layout = null;
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0px;padding-left: 2px;margin:2px 0 0 0;">
                <div class="card" data-aos="fade-up">
                    <div style="height: 45px;background:#0aa0cd;">
                        <div class="form-group row" style="margin-left:10px;margin-top:6px;">
                            <a id="BackToEmployeeGrid" title="Back to Employee List" style="cursor:pointer;"><i class="fa fa-long-arrow-left fa-2x" style="color:white;"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container" style="padding: 0 10% 0 10%">

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="~/Images/etrac-logo-inner.jpg" alt="EliteParking" style=" width: 250px; height:120px">
                                </div>
                            </div>
                            <div class="row" style="margin-top:5%;">
                                <div class="col-md-12 text-center">
                                    <span style="    font-size: 16px;">
                                        I've read the information sent over from the People and Cultural Department.<br> I am fully aware that I am to NOT terminate <b>@Model.Emp_Name</b> and/or issue this termination document.
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5%;">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-success" name="button" style="border-radius: 20px;">Acknowledge</button>
                                </div>
                            </div>

                            <div id="ChartContainerEmployeeList" class="card" data-aos="fade-up"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
